<label class="block mb-2">Business Unit</label>
<app-multi-select  [options]="(bu | async)" [value]="''" formControlName="bu">
</app-multi-select>
<label class="block mb-2">Sub Business Unit</label>
<app-multi-select  [options]="(sbu | async)" [value]="''" formControlName="sbu">
</app-multi-select>
<label class="block mb-2">Department</label>
<app-multi-select  [options]="(dep | async)" [value]="''" formControlName="dep">
</app-multi-select>
<label class="block mb-2">Manager</label>
<app-multi-select  [options]="(man | async)" [value]="''" formControlName="man">
</app-multi-select>
<label class="block mb-2">Recruiter</label>
<app-multi-select  [options]="(rec | async)" [value]="''" formControlName="rec">
</app-multi-select>