.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (prefers-color-scheme: dark) {
::ng-deep .p-calendar .p-component, ::ng-deep .p-inputtext{
    @apply dark:bg-bg-600 dark:text-gray-300 dark:border-1 dark:border-bg-400
}
::ng-deep .p-inputtext::placeholder{
    color: rgb(229, 215, 215)!important;
    }
}